.App{
    text-align: center;
    font-size: 1rem;
    
    color:purple
}

h1{
    font-weight: 500;
}

img{
    width:250px;
    height:250px;
    border-radius: 50%;
    border: purple solid 8px;
    display: block;
    margin-bottom: 1rem;
}

.list{
    display:flex;
    flex-direction: column;
}

.dogsList{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.navlink{
    text-decoration: none;
}
.navlink:hover{    
    border-bottom: 2px solid purple;
}